#btn{
	    padding-left: 760px;	
}


.entet{
	background-color: black;
	padding-left: 60px;
    height :90px;
}

.titre{
	color:white;
}
#txt{
    font-size:23px;
    font-familly : Bahnschrift;
    }
    
    h2{
    text-align=center;
    }